.col, .col-1 {
    padding-bottom: 5px;
    padding-top: 5px;
    border: 1px solid gray;
    border-collapse: collapse;
}

.pointer {
    cursor: pointer;
}

.table-head {
    background-color: rgb(41,51,92);
    color: #FFFFFF;
}

.container {
    margin-top: 20px
}
