.law-index__table-column {
    padding: 0.5em 1em;
    border: 1px solid gray;
    border-collapse: collapse;
    overflow: hidden;
    text-overflow: ellipsis;
}

.law-index__pointer {
    cursor: pointer;
}

.law-index__table-head {
    background-color: rgb(41,51,92);
    color: #FFFFFF;
}

.law-index__container {
    margin: 20px auto;
}

.law-index__table-row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
  
.first-column__main {
    grid-column: 1/3;
}

.second-column__main {
    grid-column: 3/5;
}

.third-column__main {
    grid-column: 5/7;
}

.fourth-column__main {
    grid-column: 7/9;
}

.fifth-column__main {
    grid-column: 9/11;
}

.last-column__main {
    grid-column: 11/13;
}

.second-column__dropdown {
    grid-column: 3/13;
}

.first-column__dropdown-content {
    grid-column: 1/5;
}

.second-column__dropdown-content {
    grid-column: 5/11;
}

.law-index__dropdown-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.law-index__font-bold {
    font-weight: 600;
}

.law-index__dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.law-index__spinner {
    display: inline-block;
    animation: 0.75s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 0.25em currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.law-index__center-align {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.law-index__table-column a {
    color: inherit;
}
