.law-index__table-column {
    padding: 0.5em;
    border: 1px solid gray;
    border-collapse: collapse;
    min-width: 90px;
}

.first-column__main {
    min-width: 50px;
}

.law-index__pointer {
    cursor: pointer;
}

.law-index__table-head .law-index__table-column:nth-child(-n+3) {
    background-color: rgb(41,51,92);
    color: #FFFFFF;
}

.law-index__table-head .law-index__table-column:nth-last-child(-n+3) {
    background-color: rgb(61,76,138);
    color: #FFFFFF;
}

.law-index__container {
    margin: 20px auto;
}

.law-index__table {
    overflow-x: scroll;
}

.law-index__table-row {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
  
.first-column__main {
    grid-column: 1/2;
}

.second-column__main {
    grid-column: 2/4;
}

.third-column__main {
    grid-column: 4/6;
}

.fourth-column__main {
    grid-column: 6/8;
}

.fifth-column__main {
    grid-column: 8/10;
}

.last-column__main {
    grid-column: 10/12;
}

.second-column__dropdown {
    grid-column: 2/12;
}

.first-column__dropdown-content {
    grid-column: 1/5;
}

.second-column__dropdown-content {
    grid-column: 5/10;
}

.law-index__dropdown-content {
    margin-top: 20px;
    margin-bottom: 20px;
}

.law-index__font-bold {
    font-weight: 600;
}

.law-index__dropdown {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
}

.law-index_table-accordion:hover, .active {
    background-color: #e8e8e8;
}

.law-index__spinner {
    display: inline-block;
    animation: 0.75s linear infinite spinner;
    animation-play-state: inherit;
    border: solid 0.25em currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
    vertical-align: -0.125em;
}

@keyframes spinner {
    0% {
      transform: translate3d(-50%, -50%, 0) rotate(0deg);
    }
    100% {
      transform: translate3d(-50%, -50%, 0) rotate(360deg);
    }
}

.law-index__center-align {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.law-index__table-column a {
    color: #1a0dab;
}

.law-index__table::-webkit-scrollbar {
    display: none;
}
